{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        instaparse/instaparse {:mvn/version "1.4.12"}
        criterium/criterium {:mvn/version "0.4.6"}
        com.taoensso/tufte {:mvn/version "2.4.5"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        incanter/incanter-core {:mvn/version "1.9.3"}}
 :aliases
 {:test {:extra-paths ["test"]
 	 :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
   	 :main-opts ["-m" "kaocha.runner"]}}}
